.menu {
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  padding: 100px;
}

.menu__title {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 845px;
  display: flex;
  justify-content: center;
}

.menu__subtitle {
  margin: 0 auto;
  max-width: 845px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.card {
  width: 540px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 100px;
  padding-top: 100px;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 32px;
  margin: 0;
}

.card__content {
  list-style: none;
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding-bottom: 16px;
}

.card__list-item:last-of-type {
  padding-bottom: 0px;
}

.card__list-divider {
  flex-grow: 1;
  border-style: none;
  border-bottom: #838383 solid;
}
